/* *{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    box-sizing: border-box;
}
.header{
    width: 100%;
}
.header .top{
    display: flex;
    width: 100%;
    padding: 10px 10px;
    background: #f6f7f8;
} */